.support-main {
    background-color: #e2e9ee;
    width: 850px;
    height: 735px;
    padding: 30px 40px 30px 40px;
    border-radius: 0;
    margin-left: 40px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    border: none;
    box-shadow: none;
}

.support-title {
    font-size: 20px;
    color: #222;
    position: relative;
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.support-title::before {
    content: "";
    height: 22px;
    width: 6px;
    background-color: #1cb0fc;
    position: absolute;
    left: 0;
    top: 2px;
    border-radius: 10px;
}

.support-description {
    color: #626361;
    margin-bottom: 25px;
    margin-left: 0;
    margin-top: 12px;
    font-family: 'Poppins', sans-serif;
}

.support-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 60px;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
}

.support-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    border-radius: 8px;
    width: 100%;
    flex: 1;
}

.support-contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 300px;
    max-width: 350px;
    flex: 1;
    height: 100%;
    margin-top: 0;
}

.support-form {
    display: flex;
    flex-direction: column;
    min-width: 350px;
    max-width: 400px;
    align-items: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
}

.support-form-label {
    font-size: 14px;
    color: #000;
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: 400;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}

.support-form-input {
    width: 402.31px;
    height: 37.98px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.support-form-textarea {
    width: 402.31px;
    height: 168.19px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #ABABAB;
    resize: none;
}

.support-form-button {
    background-color: #1cb0fc;
    color: white;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 120px;
    margin-top: 10px;
    align-self: flex-start;
}

.support-form-button:hover {
    background-color: #1f88bd;
    color: #000000;
}

/* Responsividade removida */
